body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color:linen;
}
body h1{
	padding-top:20px;
}

#clear,#start,#stop,#incOne,#inc23 {
  font-size: 12pt;
  margin-top: 20px;
  padding: 10px;
}
#tit{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width: 300px;
}

.btn {
  background: #1e00ff;
  background-image: -webkit-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: -moz-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: -ms-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: -o-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: linear-gradient(to bottom, #1e00ff, #70a0ff);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
	padding:10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12pt;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
	background: #00eeff;
  background-image: -webkit-linear-gradient(top, #00eeff, #3442d9);
  background-image: -moz-linear-gradient(top, #00eeff, #3442d9);
  background-image: -ms-linear-gradient(top, #00eeff, #3442d9);
  background-image: -o-linear-gradient(top, #00eeff, #3442d9);
  background-image: linear-gradient(to bottom, #00eeff, #3442d9);
  text-decoration: none;
   -webkit-box-shadow: 0px 0px 15px #666666;
  -moz-box-shadow: 0px 0px 15px #666666;
  box-shadow: 0px 0px 15px #666666;
}

#grid {
  border: 5px solid rgb(110,110,200);
  display: table;
  background-color:rgb(200,200,200);
   box-shadow: 0px 0px 10px 10px rgb(110,110,200);

}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 12pt;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
margin-top:10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: linen;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:10px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content button {
	width:150px;
  background: #1e00ff;
  background-image: -webkit-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: -moz-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: -ms-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: -o-linear-gradient(top, #1e00ff, #70a0ff);
  background-image: linear-gradient(to bottom, #1e00ff, #70a0ff);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
	padding:5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
	margin:1px;
  text-decoration: none;
  
}

.dropdown-content button:hover {
	background: #00eeff;
  background-image: -webkit-linear-gradient(top, #00eeff, #3442d9);
  background-image: -moz-linear-gradient(top, #00eeff, #3442d9);
  background-image: -ms-linear-gradient(top, #00eeff, #3442d9);
  background-image: -o-linear-gradient(top, #00eeff, #3442d9);
  background-image: linear-gradient(to bottom, #00eeff, #3442d9);
  text-decoration: none;
   -webkit-box-shadow: 0px 0px 15px #666666;
  -moz-box-shadow: 0px 0px 15px #666666;
  box-shadow: 0px 0px 15px #666666;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

h1 {
  font-size: 26pt;
  margin-bottom: 40px;
}

.box {
  border: 1px solid #111;
}

.box:hover {
  box-shadow: 0px 0px 2px 2px #111111;
  cursor: pointer;
}

.box, .col-num-box, .row-num-box {
  line-height: 24pt;
}

.box, .col-num-box, #empty-square, #left-nums, #top-nums {
  float: left;
}

.clear, #left-nums, #puzzle {
  clear: both;
}

.col-num-box, #top-nums {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#empty-square {
  border-top: 3px solid black;
  background-color: #111;
}


.crossed-out {
  background-image: url("x.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.dead {
  background-color: rgb(200,200,200);   
}
.alive {
  background-color: rgb(50,200,50);   
}

#score_board{
	position:absolute;
	top:155px;
	right:50px;
	background-color:rgb(150,250,200);
	border:black;
	border:5px;
	border-style:solid;
	border-radius:5px;
}
#score_board th,td, tr{
	font-size:14pt;
	margin:5px;
	padding:5px;
}
#player_stats{
	position:relative;
	margin-top:30px;
	background-color:rgb(220,180,220);
	border:black;
	border:5px;
	border-style:solid;
	border-radius:5px;
	padding:10px;
	display:-webkit-inline-box;
}
#player_stats h1{
	font-size:16pt;
	margin:10px;;
}
#statbox{
	position:absolute;
	top:155px;
	left:50px;
	width:200px;
	height:80px;
	background-color:orange;
	border:black;
	border:5px;
	border-style:solid;
	border-radius:5px;
}
#statbox h1{
	font-size:16pt;
	margin:5px;
	display: inline;
	padding: 2px;
}
#buttons{
	position:absolute;
	top:255px;
	left:50px;
	width:200px;
	height:500px;
	background-color:lightblue;
	border:black;
	border:5px;
	border-style:solid;
	border-radius:5px;
	height:450px;
}
#endBtn{
	margin-top:10px;
}

#puzzle {
  display: inline-block;
}

.left-row, .row-num-box {
  float: right;
}

#left-nums, .left-row {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#left-nums, #empty-square {
  border-left: 3px solid #000;
}

#top-nums {
  border-top: 3px solid #000;
}

.thick-right-border {
  border-right: 2px solid black;
}

.thick-top-border {
  border-top: 2px solid black;
}

.horizontal-divider {
  border-bottom: 2px solid black;
}

.vertical-divider {
  border-left: 2px solid black;
}

.fifteen .box, .fifteen .col-num-box, .fifteen .row-num-box {
  width: 25px;
  height: 25px;
}

.fifteen #left-nums, .fifteen .left-row {
  width: 100px;
}

.five #left-nums, .five .left-row, .five #empty-square {
  width: 140px;
}

.five .box, .five .col-num-box, .five .row-num-box {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.five #empty-square {
  height: 140px;
}

.five {
  font-size: 18pt;
}

.ten {
  font-size: 16pt;
}

.fifteen, .twenty {
  font-size: 12pt;
}

.ten #left-nums, .ten .left-row, .ten #empty-square {
  width: 120px;
}

.ten #empty-square {
  height: 120px;
}

.ten .box, .ten .col-num-box, .ten .row-num-box {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.fifteen #empty-square {
  height: 120px;
  width: 100px;
}

.twenty #left-nums, .twenty .left-row, .twenty #empty-square {
  width: 80px;
}

.twenty .box, .twenty .col-num-box, .twenty .row-num-box {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.twenty #empty-square {
  height: 80px;
}

.twenty-five #left-nums, .twenty-five .left-row, .twenty-five #empty-square {
  width: 90px;
}

.twenty-five .box, .twenty-five .col-num-box, .twenty-five .row-num-box {
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.twenty-five #empty-square {
  height: 90px;
}


#clear{
}

header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
  
}
* { margin: 0; padding: 0; }

nav {
 
  height: 15vh;
  background-image: -webkit-linear-gradient(top, #2E4268,#1e00ff);
  background-image: -moz-linear-gradient(top, #2E4268,#1e00ff);
  background-image: -ms-linear-gradient(top,  #2E4268,#1e00ff);
  background-image: -o-linear-gradient(top,  #2E4268,#1e00ff);
  background-image: linear-gradient(to bottom, #2E4268,#1e00ff);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  height:10px;
  padding-left:20px;
  padding-right:20px;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition:0.5s;
  font-size:14pt;
  margin-left:0px;
}

nav .menu a:hover {
  width: 25%;
  text-decoration: none;
  color: red;
  font-size:14pt;
  transition:0.5s;
  transform:scale(1.4);
}

nav .menu a:first-child {
  color: red;
}


#endName,#endScore,#endTime{
	opacity: 0;
    z-index: -1;
    position: absolute;
}

#center{
    background-color: rgba(100,250,100,0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 12pt;
    top: 50px;
	border-radius:10px;
	padding:1em;
	box-shadow: 0px 0px  10px 15px  blue;
	}
#center ul,li,h4,p{
	text-align:left;
}

#center_log{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 14pt;
    top: 100px;
	width:400px;
}

.bold{
	font-weight:bold;
}

li,ul,p{
	margin:5px;
	padding-left:5px;
	padding-right:5px;
}
